---
layout: post-index
title: Yao Xie
description: "Main page."
tags:
comments: false
image:
  feature: abstract-12.jpg
  credit: dargadgetz
  creditlink: http://www.dargadgetz.com/ios-7-abstract-wallpaper-pack-for-iphone-5-and-ipod-touch-retina/
---

<article>
  <h1 align="center">Hey, there!</h1>
  I am currently a Master student in Computer Science at University of California, Los Angeles (UCLA).</br></br>

  I will be joining YouTube, Google as a software engineer in June, 2019.

  Newest post: <a href="/pythoncon"><i>A Noteworthy Fact in Python</i></a></br></br>

  The menu is on the top left corner of the website, you can access everything from there.
  But anyway, I will provide a direct link to several main pages as follows.</br>
  <a href="/posts"><u>All posts</u></a></br>
  <a href="/publications"><u>All publications</u></a></br>
  <a href="/projects"><u>Interesting projects</u></a></br>
  <a href="/resume"><u>My resume</u></a></br></br>

  Currently, using 'http' in your url while visiting is recommended. If you find bugs while visiting, please be sure to contact me. :)
</article>

<!--

{% for post in paginator.posts %}
<article class="hentry">
  <header>

    {% if post.image.feature %}
      <div class="entry-image-index">
        <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}"><img src="{{ site.url }}/images/{{ post.image.feature }}" alt="{{ post.title }}"></a>
      </div>
    {% endif %}


    <div class="entry-meta">
      <span class="entry-date date published updated"><time datetime="{{ post.date | date_to_xmlschema }}"><a href="{{ site.url }}{{ post.url }}">{{ post.date | date: "%B %d, %Y" }}</a></time></span><span class="author vcard"><span class="fn"><a href="{{ site.url }}/resume/">{{ site.owner.name }}</a></span></span>
      {% if site.reading_time %}
      <span class="entry-reading-time">
        <i class="fa fa-clock-o"></i>
        {% include read-time-index.html %}
        | HITS: <span data-hk-page="{{ post.url | prepend: site.url }}"> - </span>
      </span>
      {% endif %}
    </div>
    {% if post.link %}
      <h1 class="entry-title"><a href="{{ site.url }}{{ post.url }}" class="permalink" rel="bookmark" title="{{ post.title }}"><i class="fa fa-bookmark"></i></a> <a href="{{ post.link }}">{{ post.title }}</a></h1>
    {% else %}
      <h1 class="entry-title"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a></h1>
    {% endif %}
  </header>

  <div class="entry-content">
    {{ post.content }}
  </div>

</article>
{% endfor %}

-->

{% include pagination.html %}
